@page "{handler?}"
@model AfterLogInModel
@{
    ViewBag.Title = "Add Task";
    Layout = "_Layout";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@*//85290539*@
@*<div class="row">*@
<section>
    <form method="post" role="form" class="form-horizontal">
        @Html.AntiForgeryToken()
        @*<input asp-for="TodoTask.IdTask" type="hidden" />*@
        <h2>@ViewBag.Title.</h2>
        <div class="form-group">
            @Html.LabelFor(m => m.TodoTask.IdTask, new {  @class = "col-md-1 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.TodoTask.IdTask, new { @readonly = "readonly", @class = "form-control" } )
                @Html.ValidationMessageFor(m => m.TodoTask.IdTask, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(m => m.TodoTask.InsertDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.TodoTask.InsertDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TodoTask.InsertDate, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(m => m.TodoTask.TaskDescription, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.TodoTask.TaskDescription, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TodoTask.TaskDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TodoTask.InProgress, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.TodoTask.InProgress, new { @class = "i-check" })
            </div>
            @Html.LabelFor(m => m.TodoTask.Finished, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.TodoTask.Finished, new { @class = "i-check"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md col-sm-10">
                <input type="submit" value="Save" class="btn btn-primary" asp-page-handler="Save" asp-route-id="@Model.TodoTask.IdTask" />
                <button asp-page-handler="LogOff" class="btn btn-danger offset-9">Log Off</button>
            </div>
        </div>

    </form>
</section>
@*</div>*@
