@page "{handler?}"
@model IndexModel
@{
    //ViewData["Title"] = "Home page";
    ViewBag.Title = "Client  - Simple Login  First Approach";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8">
        <section>
            <form method="post" role="form" class="form-horizontal">
                @Html.AntiForgeryToken()

                <h4>Use a local account to log in.</h4>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.LoginModel.Username, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.LoginModel.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LoginModel.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.LoginModel.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.LoginModel.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LoginModel.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                        <label asp-for="LoginModel.Username" class = "col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LoginModel.Username" class="form-control" />
                            <span class="alert-danger" asp-validation-for="LoginModel.Username"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="LoginModel.Password" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LoginModel.Password" class="form-control" />
                            <span class="alert-danger" asp-validation-for="LoginModel.Password"></span>
                        </div>
                    </div>*@

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button asp-page-handler="LogIn" class="btn btn-default">Log in</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
